.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 30px;
}
.social-icon-div{
    /* padding: 6px;
    cursor: pointer; */
    
    margin:  30px;
}
.social-icon{
height: 48px;
}

@media only screen and (max-width: 720px){
    .social-icon{
        height: 32px;
    }
}